---
# use either podman or docker
container_engine: podman

# use either official or fedora
docker_repository: fedora

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin
  - docker-ce-rootless-extras
  - docker-model-plugin

# source - https://docs.fedoraproject.org/en-US/quick-docs/installing-docker/
docker_fedora_packages:
  - moby-engine
  - docker-cli
  - containerd
  - docker-buildx
  - docker-compose

podman_packages:
  - podman
  - podman-compose
  - podman-remote
  - qemu-user-static
