[user]
    name = Bhavyai Gupta
    email = zbhavyai@gmail.com
[includeIf "gitdir:~/Github/WORK/"]
    path = .gitconfig-work
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[init]
    defaultBranch = main
[core]
    editor = vim
# [pull]
#     rebase = true
# [filter "lfs"]
#     process = git-lfs filter-process
#     required = true
#     clean = git-lfs clean -- %f
#     smudge = git-lfs smudge -- %f
