Host github.com
 HostName github.com
 IdentityFile ~/.ssh/githubLogin
 User git

Host heroku.com
 HostName heroku.com
 IdentityFile ~/.ssh/herokuLogin
 User git
 IdentitiesOnly yes

Host bitbucket.org
  HostName bitbucket.org
  IdentityFile ~/.ssh/bitbucketLogin
  User git

Host talc.ucalgary.ca
 HostName talc.ucalgary.ca
 IdentityFile ~/.ssh/talcLogin
