root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 3
max_line_length = off

[*.java]
indent_size = 2
max_line_length = 80

[*.xml]
indent_size = 2

[*.sql]
indent_size = 4
max_line_length = off

[*.{js, jsx, ts, tsx}]
indent_size = 2
max_line_length = 200

[*.{json, jsonc}]
max_line_length = off

[*.py]
indent_size = 4
max_line_length = 200

[*.{yaml, yml}]
indent_size = 2

[*.sh]
indent_size = 4
max_line_length = off

[.bash*]
indent_size = 4

[Makefile]
indent_size = 4
indent_style = tab
max_line_length = off
