[user]
    name = Bhavyai Gupta
    email = zbhavyai@gmail.com
[includeIf "gitdir:~/Github/WORK/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/Bitbucket/"]
    path = ~/.gitconfig-work
[alias]
    lola = log --all --graph --decorate=short --pretty=oneline --abbrev-commit
    hist = log --all --graph --decorate=short --pretty=format:'%C(auto)%h %C(blue)%as %C(auto)%d %s [%C(magenta)%an%C(reset)]'
    amend = commit --amend --reuse-message=HEAD
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
[init]
    defaultBranch = main
[core]
    editor = vim
[remote "origin"]
    prune = true
    pruneTags = true
[pull]
    rebase = false
[push]
    default = simple
    followTags = true
[diff]
    tool = vimdiff
[color "status"]
    added = green
    changed = yellow
    untracked = red
[help]
    autocorrect = 1
[grep]
    lineNumber = true
[format]
    pretty = fuller
