[user]
    name = Bhavyai Gupta
    email = zbhavyai@gmail.com
[includeIf "gitdir:~/Bitbucket/"]
    path = ~/.gitconfig-work
[alias]
    # log with date and author
    hist = log --all --graph --decorate=short --pretty=format:'%C(auto)%h %C(blue)%as %C(auto)%d %s [%C(magenta)%an%C(reset)]'

    # branch-specific log with date and author
    branch-hist = log --graph --decorate=short --pretty=format:'%C(auto)%h %C(blue)%as %C(auto)%d %s [%C(magenta)%an%C(reset)]'

    # log of commits on the current branch that are not on main
    branch-log = log --graph --decorate=short --pretty=oneline --abbrev-commit main..HEAD

    # files changed in the current branch compared to main
    branch-files = diff --name-status main...HEAD

    # show the base commit between main and the current branch
    base-commit = "!git merge-base main HEAD | xargs git show --oneline --no-patch"

    # amend the last commit without changing the commit message
    amend = commit --amend --reuse-message=HEAD
[init]
    defaultBranch = main
[core]
    editor = vim
[remote "origin"]
    prune = true
    pruneTags = true
[pull]
    rebase = false
[push]
    default = simple
    followTags = true
[diff]
    tool = vimdiff
[color "status"]
    added = green
    changed = yellow
    untracked = red
[help]
    autocorrect = 1
[grep]
    lineNumber = true
[format]
    pretty = fuller
