[user]
    name = Bhavyai Gupta
    email = zbhavyai@gmail.com
[includeIf "gitdir:~/Github/WORK/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/Bitbucket/"]
    path = ~/.gitconfig-work
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[init]
    defaultBranch = main
[core]
    editor = vim
[remote "origin"]
    prune = true
[pull]
    rebase = false
[push]
    default = simple
[diff]
    tool = vimdiff
