Host github.com
  HostName github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/githubLogin
  User git

Host bitbucket.org
  HostName bitbucket.org
  IdentitiesOnly yes
  IdentityFile ~/.ssh/bitbucketLogin
  User git

Host localhost
 HostName localhost
 IdentitiesOnly yes
 Port 22
 IdentityFile ~/.ssh/githubLogin

Host yankee
  HostName yankee.userful.ca
  IdentitiesOnly yes
  User root
  Port 22
  IdentityFile ~/.ssh/workMachineAccess
  ForwardAgent yes

Host threadripper
  HostName 192.168.127.145
  IdentitiesOnly yes
  User admin
  Port 22
  IdentityFile ~/.ssh/workMachineAccess
  ForwardAgent yes

Host iotedge
  HostName 192.168.124.115
  IdentitiesOnly yes
  User root
  Port 22
  IdentityFile ~/.ssh/workMachineAccess
  ForwardAgent yes

Host jenkins
  HostName 192.168.123.32
  IdentitiesOnly yes
  User root
  IdentityFile ~/.ssh/workMachineAccess
  ForwardAgent no

Host test*
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host *
  IdentitiesOnly yes
  StrictHostKeyChecking no
  ForwardAgent yes
  IdentityFile ~/.ssh/workMachineAccess
