---
# docker tasks
# #############################################################################
- name: Install dnf-plugins-core
  ansible.builtin.dnf:
    name: dnf-plugins-core
    state: present
  when: container_engine == "docker" and docker_repository == "official"

- name: Add Docker CE repository
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/fedora/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo
    force: true
    mode: "0644"
  become: true
  when: container_engine == "docker" and docker_repository == "official"

- name: Install docker from official repository
  ansible.builtin.dnf:
    name: "{{ docker_official_packages }}"
    state: present
  become: true
  when: container_engine == "docker" and docker_repository == "official" and (docker_official_packages | default([])) | length > 0

- name: Install docker from Fedora repository
  ansible.builtin.dnf:
    name: "{{ docker_fedora_packages }}"
    state: present
  become: true
  when: container_engine == "docker" and docker_repository == "fedora" and (docker_fedora_packages | default([])) | length > 0

- name: Enable and start Docker service
  ansible.builtin.systemd_service:
    name: docker
    state: started
    enabled: true
  when: container_engine == "docker"

- name: Ensure docker group exists
  ansible.builtin.group:
    name: docker
    state: present
  become: true
  when: container_engine == "docker"

- name: Add current user to docker group
  ansible.builtin.user:
    name: "{{ ansible_env.SUDO_USER }}"
    groups: docker
    append: true
  become: true
  when: container_engine == "docker"

# podman tasks
# #############################################################################
- name: Install podman
  ansible.builtin.dnf:
    name: "{{ podman_packages }}"
    state: present
  become: true
  when: container_engine == "podman" and (podman_packages | default([])) | length > 0

- name: Ensure .config/containers directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/containers"
    state: directory
    mode: "0755"
  become: false
  when: container_engine == "podman"

- name: Copy containers.conf
  ansible.builtin.copy:
    src: containers.conf
    dest: "{{ ansible_env.HOME }}/.config/containers/containers.conf"
    mode: "0644"
  become: false
  when: container_engine == "podman"

- name: Copy registries.conf
  ansible.builtin.copy:
    src: registries.conf
    dest: "{{ ansible_env.HOME }}/.config/containers/registries.conf"
    mode: "0644"
  become: false
  when: container_engine == "podman"

- name: Enable and start Podman socket
  # source - https://quarkus.io/guides/podman
  # systemctl enable --now --user podman.socket
  ansible.builtin.systemd_service:
    name: podman.socket
    state: started
    enabled: true
    scope: user
  become: false
  when: container_engine == "podman"
