/* tab bar ----------------------------------------------------------------- */
QTabBar,
QTabBar::tab {
  border-bottom: 4px solid palette(window);
  height: 35px;
}

QTabBar::tab:selected {
  border-bottom: 4px solid #3584e4;
}

/* tab close button -------------------------------------------------------- */
QTabBar::close-button {
  background-color: transparent;
  /* image: url(close.png); */
  border-radius: 10px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 16px;
  height: 16px;
}

QTabBar::close-button:hover {
  background-color: #4b4b4b;
}

/* vertical scroll bar ----------------------------------------------------- */
QScrollBar:vertical {
  background-color: transparent;
  border-radius: 4px;
  width: 8px;
}

QScrollBar::handle:vertical {
  background-color: #4a4a4a;
  border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
  background-color: #787878;
  border-radius: 4px;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
  background: transparent;
  width: 0;
  height: 0;
}
