---
- name: Development environment
  hosts: laptop
  vars_files:
    - ../group_vars/dev.yaml
  roles:
    - role: dnf
      dnf_packages: "{{ dnf_packages_dev }}"
    - role: flatpak
      flatpak_packages: "{{ flatpak_packages_dev }}"
    - role: vscode
    - role: antigravity
    - role: windsurf
    - role: intellij_idea
    - role: pycharm
    - role: webstorm
