---
name: Ansible Lint

on:
  push:
    paths:
      - "**.yaml"
      - "**.yml"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ansible-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --no-group dev

      - name: Run ansible-lint
        run: uv run ansible-lint

      - name: Run playbook syntax check
        run: |
          for file in $(find playbooks -name "*.yaml"); do
            uv run ansible-playbook --syntax-check "$file" || exit 1
          done
