---
name: Shell Lint

on:
  push:
    paths:
      - "**.sh"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  shell-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install shfmt-py shellcheck-py

      - name: Run shell format
        run: |
          globalStatus=0

          while IFS= read -r -d '' f; do
            if ! shfmt -d -i 4 -- "$f"; then
              echo "[ERROR] shfmt failed for $f"
              globalStatus=1
            fi
          done < <(find src -type f -name '*.sh' -print0)

          exit $globalStatus

      - name: Run shell check
        run: |
          globalStatus=0

          while IFS= read -r -d '' f; do
            if ! shellcheck -x -e SC2034 -- "$f"; then
              echo "[ERROR] shellcheck failed for $f"
              globalStatus=1
            fi
          done < <(find src -type f -name '*.sh' -print0)

          exit $globalStatus
